language: python
python:
- 3.6

install: true


script:
- /usr/bin/time --format '%M %S %U %I %O' cat /proc/self/cmdline
- /usr/bin/time --format '%M %S %U %I %O' grep Pid: /proc/self/status
- /usr/bin/time --format '%M %S %U %I %O' php --run "echo 'hello';"
- /usr/bin/time --format '%M %S %U %I %O' sleep 1
- /usr/bin/time --format '%M %S %U %I %O' whoami
- python3 time.py


after_script:
- python3 --version
